#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: rgb(130, 46, 209);
}

img{
  width: 100vh;
  border-radius: 50px;
}
h1{

  border: 10px solid yellow;
  border-radius: 50px;
}
h2{
  border: 3px solid yellow;
}